
body {
    margin-top: 20px;
    
}
.size {
    height: 350px;
    width: 250px;
    object-fit: cover;    
    
}

img {
    margin: 20px;
}

#videogames {
    background-color: #1BF8F1;
}

.pd{
    padding: 20px;
    margin-left: 20px;
}
